<div class="login-screen fadein fadeout" ng-show="ctrl.loginDisplayed">
    <div class="login-overlay">
        <div class="col-half right-line">
            <h3>Login</h3>
            <form class="login">
                <label>Login</label>
                <input type="text" name="login">
                <label>Password</label>
                <input type="text" name="password">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-half">
            <h3>Register</h3>
        </div>
        <div class="close-icon" ng-click="ctrl.toggleLoginPanel();">
            <img src="img/close-icon.svg" />
        </div>
    </div>
</div>


<div class="nav-bar">
    <a href="#/">
        <div class="title-site">Warsaw Guide</div>
    </a>
    <ul class="nav-menu">
        <a href="#/malinova">
            <li>Browse places</li>
        </a>
        <a href="#/test">
            <li>Paths</li>
        </a>
        <li>Recommended by Locals</li>
        <li>About</li>
        <li>Contact</li>
        <li ng-click="ctrl.toggleLoginPanel();">Login</li>
    </ul>
</div>
